In [1]:
import pandas as pd
import json

In [2]:
content = []
with open('json_files/all_teams_defense_stats_all_comps.json', 'r') as f:
    for line in f:
        content.append(json.loads(line))

In [3]:
df = pd.DataFrame(content)

In [4]:
df.to_csv('Defense.csv', index=False)
print(df)

            Player Name      Club Name  Tackles Challenges Blocks     Player  \
0          Granit Xhaka     Leverkusen   ch SUI         MF      1  45     36
1         Álex Grimaldo     Leverkusen   es ESP         DF      1  63     37
2          Jonathan Tah     Leverkusen   de GER         DF      2  29     17
3        Edmond Tapsoba     Leverkusen   bf BFA         DF      3  47     36
4         Florian Wirtz     Leverkusen   de GER      MF,FW      0  33     26
...                 ...            ...      ...        ...    ...  ..    ...
2984         Sam Curtis  Sheffield Utd   ie IRL         DF      0   1      0
2985    Daniel Jebbison  Sheffield Utd  eng ENG         FW      0   0      0
2986  Antwoine Hackford  Sheffield Utd  eng ENG         FW      0   0      0
2987         Sydie Peck  Sheffield Utd  eng ENG         MF      0   0      0
2988           Ryan One  Sheffield Utd  sct SCO         FW      0   0      0

     Nation Pos Age 90s Tkl  TklW Def 3rd Mid 3rd Att 3rd Att Tkl% Lost  \
0        18  22   5  16  25  39.0      25      36      11  25   68   52
1        36  16  11  38  31  54.3      32      39       8  36   92   50
2        12  14   3   9   7  40.9      13      34      27  36   59  124
3        25  20   2  23  17  65.7      12      34      17  29   75   81
4         8  16   9  12  42  27.9      31      44       2  15   47    4
...     ...  ..  ..  ..  ..   ...     ...     ...     ...  ..  ...  ...
2984      1   0   0   1   2  50.0       1       2       0   0    1    0
2985      0   0   0   0   1             0       1       0   0    0    0
2986      0   0   0   0   0             0       0       0   0    0    0
2987      0   0   0   0   0             0       0       0   0    0    0
2988      0   0   0   0   0             0       0       0   0    0    0

           Sh
0     Matches
1     Matches
2     Matches
3     Matches
4     Matches
...       ...
2984  Matches
2985  Matches
2986  Matches
2987  Matches
2988  Matches

[2989 rows x 20 columns]

In [5]:
df.head()

,Player Name,Club Name,Tackles,Challenges,Blocks,,Player,Nation,Pos,Age,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Att,Tkl%,Lost,Sh
0,Granit Xhaka,Leverkusen,ch SUI,MF,1,45,36,18,22,5,16,25,39.0,25,36,11,25,68,52,Matches
1,Álex Grimaldo,Leverkusen,es ESP,DF,1,63,37,36,16,11,38,31,54.3,32,39,8,36,92,50,Matches
2,Jonathan Tah,Leverkusen,de GER,DF,2,29,17,12,14,3,9,7,40.9,13,34,27,36,59,124,Matches
3,Edmond Tapsoba,Leverkusen,bf BFA,DF,3,47,36,25,20,2,23,17,65.7,12,34,17,29,75,81,Matches
4,Florian Wirtz,Leverkusen,de GER,"MF,FW",0,33,26,8,16,9,12,42,27.9,31,44,2,15,47,4,Matches

In [6]:
df.rename(columns={"Tackles": "Country"}, inplace=True)

In [7]:
df.head()

,Player Name,Club Name,Country,Challenges,Blocks,,Player,Nation,Pos,Age,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Att,Tkl%,Lost,Sh
0,Granit Xhaka,Leverkusen,ch SUI,MF,1,45,36,18,22,5,16,25,39.0,25,36,11,25,68,52,Matches
1,Álex Grimaldo,Leverkusen,es ESP,DF,1,63,37,36,16,11,38,31,54.3,32,39,8,36,92,50,Matches
2,Jonathan Tah,Leverkusen,de GER,DF,2,29,17,12,14,3,9,7,40.9,13,34,27,36,59,124,Matches
3,Edmond Tapsoba,Leverkusen,bf BFA,DF,3,47,36,25,20,2,23,17,65.7,12,34,17,29,75,81,Matches
4,Florian Wirtz,Leverkusen,de GER,"MF,FW",0,33,26,8,16,9,12,42,27.9,31,44,2,15,47,4,Matches

In [9]:
df.rename(columns={"Challenges": "Position"}, inplace=True)
df.rename(columns={"Blocks": "Errors"}, inplace=True)
df.rename(columns={"Player": "TackleWon"}, inplace=True)
df.rename(columns={"Nation": "TacklesinDef3rd"}, inplace=True)
df.rename(columns={"Pos": "TacklesinMid3rd"}, inplace=True)
df.rename(columns={"Age": "TacklesinAtt3rd"}, inplace=True)

In [10]:
df.head()

,Player Name,Club Name,Country,Position,Errors,,TackleWon,TacklesinDef3rd,TacklesinMid3rd,TacklesinAtt3rd,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Att,Tkl%,Lost,Sh
0,Granit Xhaka,Leverkusen,ch SUI,MF,1,45,36,18,22,5,16,25,39.0,25,36,11,25,68,52,Matches
1,Álex Grimaldo,Leverkusen,es ESP,DF,1,63,37,36,16,11,38,31,54.3,32,39,8,36,92,50,Matches
2,Jonathan Tah,Leverkusen,de GER,DF,2,29,17,12,14,3,9,7,40.9,13,34,27,36,59,124,Matches
3,Edmond Tapsoba,Leverkusen,bf BFA,DF,3,47,36,25,20,2,23,17,65.7,12,34,17,29,75,81,Matches
4,Florian Wirtz,Leverkusen,de GER,"MF,FW",0,33,26,8,16,9,12,42,27.9,31,44,2,15,47,4,Matches

In [12]:
columns = list(df.columns)
df.columns = columns
print(df.head())

      Player Name   Club Name Country Position Errors     TackleWon  \
0    Granit Xhaka  Leverkusen  ch SUI       MF      1  45        36
1   Álex Grimaldo  Leverkusen  es ESP       DF      1  63        37
2    Jonathan Tah  Leverkusen  de GER       DF      2  29        17
3  Edmond Tapsoba  Leverkusen  bf BFA       DF      3  47        36
4   Florian Wirtz  Leverkusen  de GER    MF,FW      0  33        26

  TacklesinDef3rd TacklesinMid3rd TacklesinAtt3rd 90s Tkl  TklW Def 3rd  \
0              18              22               5  16  25  39.0      25
1              36              16              11  38  31  54.3      32
2              12              14               3   9   7  40.9      13
3              25              20               2  23  17  65.7      12
4               8              16               9  12  42  27.9      31

  Mid 3rd Att 3rd Att Tkl% Lost       Sh
0      36      11  25   68   52  Matches
1      39       8  36   92   50  Matches
2      34      27  36   59  124  Matches
3      34      17  29   75   81  Matches
4      44       2  15   47    4  Matches

In [14]:
empty_column_indices = [i for i, col in enumerate(df.columns) if col == '']
print("Indices of columns with empty names:", empty_column_indices)

Indices of columns with empty names: [5]

In [15]:
new_column_name = 'TacklesAttempted'
columns = list(df.columns)
columns[4] = new_column_name
df.columns = columns
print(df.head())

      Player Name   Club Name Country Position TacklesAttempted     TackleWon  \
0    Granit Xhaka  Leverkusen  ch SUI       MF                1  45        36
1   Álex Grimaldo  Leverkusen  es ESP       DF                1  63        37
2    Jonathan Tah  Leverkusen  de GER       DF                2  29        17
3  Edmond Tapsoba  Leverkusen  bf BFA       DF                3  47        36
4   Florian Wirtz  Leverkusen  de GER    MF,FW                0  33        26

  TacklesinDef3rd TacklesinMid3rd TacklesinAtt3rd 90s Tkl  TklW Def 3rd  \
0              18              22               5  16  25  39.0      25
1              36              16              11  38  31  54.3      32
2              12              14               3   9   7  40.9      13
3              25              20               2  23  17  65.7      12
4               8              16               9  12  42  27.9      31

  Mid 3rd Att 3rd Att Tkl% Lost       Sh
0      36      11  25   68   52  Matches
1      39       8  36   92   50  Matches
2      34      27  36   59  124  Matches
3      34      17  29   75   81  Matches
4      44       2  15   47    4  Matches

In [16]:
df.rename(columns={"TacklesAttempted": "DefensiveErrors"}, inplace=True)
df.head()

,Player Name,Club Name,Country,Position,DefensiveErrors,,TackleWon,TacklesinDef3rd,TacklesinMid3rd,TacklesinAtt3rd,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Att,Tkl%,Lost,Sh
0,Granit Xhaka,Leverkusen,ch SUI,MF,1,45,36,18,22,5,16,25,39.0,25,36,11,25,68,52,Matches
1,Álex Grimaldo,Leverkusen,es ESP,DF,1,63,37,36,16,11,38,31,54.3,32,39,8,36,92,50,Matches
2,Jonathan Tah,Leverkusen,de GER,DF,2,29,17,12,14,3,9,7,40.9,13,34,27,36,59,124,Matches
3,Edmond Tapsoba,Leverkusen,bf BFA,DF,3,47,36,25,20,2,23,17,65.7,12,34,17,29,75,81,Matches
4,Florian Wirtz,Leverkusen,de GER,"MF,FW",0,33,26,8,16,9,12,42,27.9,31,44,2,15,47,4,Matches

In [17]:
new_column_name = 'TacklesAttempted'
columns = list(df.columns)
columns[5] = new_column_name
df.columns = columns
print(df.head())

      Player Name   Club Name Country Position DefensiveErrors  \
0    Granit Xhaka  Leverkusen  ch SUI       MF               1
1   Álex Grimaldo  Leverkusen  es ESP       DF               1
2    Jonathan Tah  Leverkusen  de GER       DF               2
3  Edmond Tapsoba  Leverkusen  bf BFA       DF               3
4   Florian Wirtz  Leverkusen  de GER    MF,FW               0

  TacklesAttempted TackleWon TacklesinDef3rd TacklesinMid3rd TacklesinAtt3rd  \
0               45        36              18              22               5
1               63        37              36              16              11
2               29        17              12              14               3
3               47        36              25              20               2
4               33        26               8              16               9

  90s Tkl  TklW Def 3rd Mid 3rd Att 3rd Att Tkl% Lost       Sh
0  16  25  39.0      25      36      11  25   68   52  Matches
1  38  31  54.3      32      39       8  36   92   50  Matches
2   9   7  40.9      13      34      27  36   59  124  Matches
3  23  17  65.7      12      34      17  29   75   81  Matches
4  12  42  27.9      31      44       2  15   47    4  Matches

In [18]:
df.rename(columns={"TklW": "DribblesWinningPerc"}, inplace=True)
df.rename(columns={"90s": "DribblesStopped"}, inplace=True)
df.rename(columns={"Tkl": "PassesBlocked"}, inplace=True)
df.rename(columns={"Def 3rd": "DribblesNotStopped"}, inplace=True)
df.rename(columns={"Mid 3rd": "TotalBlocks"}, inplace=True)
df.rename(columns={"Att 3rd": "ShotsBlocked"}, inplace=True)
df.rename(columns={"Att": "PassesBlocked"}, inplace=True)
df.rename(columns={"Tkl%": "Tackles+Interception"}, inplace=True)
df.rename(columns={"Lost": "Clearances"}, inplace=True)
df.head()

,Player Name,Club Name,Country,Position,DefensiveErrors,TacklesAttempted,TackleWon,TacklesinDef3rd,TacklesinMid3rd,TacklesinAtt3rd,DribblesStopped,PassesBlocked,DribblesWinningPerc,DribblesNotStopped,TotalBlocks,ShotsBlocked,PassesBlocked,Tackles+Interception,Clearances,Sh
0,Granit Xhaka,Leverkusen,ch SUI,MF,1,45,36,18,22,5,16,25,39.0,25,36,11,25,68,52,Matches
1,Álex Grimaldo,Leverkusen,es ESP,DF,1,63,37,36,16,11,38,31,54.3,32,39,8,36,92,50,Matches
2,Jonathan Tah,Leverkusen,de GER,DF,2,29,17,12,14,3,9,7,40.9,13,34,27,36,59,124,Matches
3,Edmond Tapsoba,Leverkusen,bf BFA,DF,3,47,36,25,20,2,23,17,65.7,12,34,17,29,75,81,Matches
4,Florian Wirtz,Leverkusen,de GER,"MF,FW",0,33,26,8,16,9,12,42,27.9,31,44,2,15,47,4,Matches

In [23]:
df["Country"] = df["Country"].astype(str)
df["Country"] = df["Country"].apply(lambda x: x.split()[-1].upper() if pd.notna(x) and x.strip() else '')
print(df.head())

      Player Name   Club Name Country Position DefensiveErrors  \
0    Granit Xhaka  Leverkusen     SUI       MF               1
1   Álex Grimaldo  Leverkusen     ESP       DF               1
2    Jonathan Tah  Leverkusen     GER       DF               2
3  Edmond Tapsoba  Leverkusen     BFA       DF               3
4   Florian Wirtz  Leverkusen     GER    MF,FW               0

  TacklesAttempted TackleWon TacklesinDef3rd TacklesinMid3rd TacklesinAtt3rd  \
0               45        36              18              22               5
1               63        37              36              16              11
2               29        17              12              14               3
3               47        36              25              20               2
4               33        26               8              16               9

  DribblesStopped PassesBlocked DribblesWinningPerc DribblesNotStopped  \
0              16            25                39.0                 25
1              38            31                54.3                 32
2               9             7                40.9                 13
3              23            17                65.7                 12
4              12            42                27.9                 31

  TotalBlocks ShotsBlocked PassesBlocked Tackles+Interception Clearances  \
0          36           11            25                   68         52
1          39            8            36                   92         50
2          34           27            36                   59        124
3          34           17            29                   75         81
4          44            2            15                   47          4

        Sh
0  Matches
1  Matches
2  Matches
3  Matches
4  Matches

In [24]:
df.head()

,Player Name,Club Name,Country,Position,DefensiveErrors,TacklesAttempted,TackleWon,TacklesinDef3rd,TacklesinMid3rd,TacklesinAtt3rd,DribblesStopped,PassesBlocked,DribblesWinningPerc,DribblesNotStopped,TotalBlocks,ShotsBlocked,PassesBlocked,Tackles+Interception,Clearances,Sh
0,Granit Xhaka,Leverkusen,SUI,MF,1,45,36,18,22,5,16,25,39.0,25,36,11,25,68,52,Matches
1,Álex Grimaldo,Leverkusen,ESP,DF,1,63,37,36,16,11,38,31,54.3,32,39,8,36,92,50,Matches
2,Jonathan Tah,Leverkusen,GER,DF,2,29,17,12,14,3,9,7,40.9,13,34,27,36,59,124,Matches
3,Edmond Tapsoba,Leverkusen,BFA,DF,3,47,36,25,20,2,23,17,65.7,12,34,17,29,75,81,Matches
4,Florian Wirtz,Leverkusen,GER,"MF,FW",0,33,26,8,16,9,12,42,27.9,31,44,2,15,47,4,Matches

In [25]:
df.tail()

,Player Name,Club Name,Country,Position,DefensiveErrors,TacklesAttempted,TackleWon,TacklesinDef3rd,TacklesinMid3rd,TacklesinAtt3rd,DribblesStopped,PassesBlocked,DribblesWinningPerc,DribblesNotStopped,TotalBlocks,ShotsBlocked,PassesBlocked,Tackles+Interception,Clearances,Sh
2984,Sam Curtis,Sheffield Utd,IRL,DF,0,1,0,1,0,0,1,2,50.0,1,2,0,0,1,0,Matches
2985,Daniel Jebbison,Sheffield Utd,ENG,FW,0,0,0,0,0,0,0,1,,0,1,0,0,0,0,Matches
2986,Antwoine Hackford,Sheffield Utd,ENG,FW,0,0,0,0,0,0,0,0,,0,0,0,0,0,0,Matches
2987,Sydie Peck,Sheffield Utd,ENG,MF,0,0,0,0,0,0,0,0,,0,0,0,0,0,0,Matches
2988,Ryan One,Sheffield Utd,SCO,FW,0,0,0,0,0,0,0,0,,0,0,0,0,0,0,Matches

In [26]:
df.to_csv('DefensiveStats.csv', index=False)