In [1]:
import pandas as pd
import json

In [8]:
df = pd.DataFrame(content)

In [37]:
df.to_csv('pd.csv', index=False)
df.head()

,Player Name,Club Name,Nation,Challenges,Blocks,,Player,Nation,Pos,Age,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Att,Tkl%,Lost,Sh
0,Granit Xhaka,Leverkusen,ch SUI,MF,1,45,36,18,22,5,16,25,39.0,25,36,11,25,68,52,Matches
1,Álex Grimaldo,Leverkusen,es ESP,DF,1,63,37,36,16,11,38,31,54.3,32,39,8,36,92,50,Matches
2,Jonathan Tah,Leverkusen,de GER,DF,2,29,17,12,14,3,9,7,40.9,13,34,27,36,59,124,Matches
3,Edmond Tapsoba,Leverkusen,bf BFA,DF,3,47,36,25,20,2,23,17,65.7,12,34,17,29,75,81,Matches
4,Florian Wirtz,Leverkusen,de GER,"MF,FW",0,33,26,8,16,9,12,42,27.9,31,44,2,15,47,4,Matches

In [10]:
df.head()

,Player Name,Club Name,Tackles,Challenges,Blocks,,Player,Nation,Pos,Age,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Att,Tkl%,Lost,Sh
0,Granit Xhaka,Leverkusen,ch SUI,MF,1,45,36,18,22,5,16,25,39.0,25,36,11,25,68,52,Matches
1,Álex Grimaldo,Leverkusen,es ESP,DF,1,63,37,36,16,11,38,31,54.3,32,39,8,36,92,50,Matches
2,Jonathan Tah,Leverkusen,de GER,DF,2,29,17,12,14,3,9,7,40.9,13,34,27,36,59,124,Matches
3,Edmond Tapsoba,Leverkusen,bf BFA,DF,3,47,36,25,20,2,23,17,65.7,12,34,17,29,75,81,Matches
4,Florian Wirtz,Leverkusen,de GER,"MF,FW",0,33,26,8,16,9,12,42,27.9,31,44,2,15,47,4,Matches

In [21]:
df.rename(columns={df.columns[2]: "Country"}, inplace=True)

In [22]:
df.head()

,Player Name,Club Name,Country,Challenges,Blocks,,Player,Country,Pos,Age,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Att,Tkl%,Lost,Sh
0,Granit Xhaka,Leverkusen,ch SUI,MF,1,45,36,18,22,5,16,25,39.0,25,36,11,25,68,52,Matches
1,Álex Grimaldo,Leverkusen,es ESP,DF,1,63,37,36,16,11,38,31,54.3,32,39,8,36,92,50,Matches
2,Jonathan Tah,Leverkusen,de GER,DF,2,29,17,12,14,3,9,7,40.9,13,34,27,36,59,124,Matches
3,Edmond Tapsoba,Leverkusen,bf BFA,DF,3,47,36,25,20,2,23,17,65.7,12,34,17,29,75,81,Matches
4,Florian Wirtz,Leverkusen,de GER,"MF,FW",0,33,26,8,16,9,12,42,27.9,31,44,2,15,47,4,Matches

In [34]:
columns = list(df.columns)

columns[2] = "Nation"

df.columns = columns

print(df.head())

      Player Name   Club Name  Nation Challenges Blocks     Player Nation Pos  \
0    Granit Xhaka  Leverkusen  ch SUI         MF      1  45     36     18  22
1   Álex Grimaldo  Leverkusen  es ESP         DF      1  63     37     36  16
2    Jonathan Tah  Leverkusen  de GER         DF      2  29     17     12  14
3  Edmond Tapsoba  Leverkusen  bf BFA         DF      3  47     36     25  20
4   Florian Wirtz  Leverkusen  de GER      MF,FW      0  33     26      8  16

  Age 90s Tkl  TklW Def 3rd Mid 3rd Att 3rd Att Tkl% Lost       Sh
0   5  16  25  39.0      25      36      11  25   68   52  Matches
1  11  38  31  54.3      32      39       8  36   92   50  Matches
2   3   9   7  40.9      13      34      27  36   59  124  Matches
3   2  23  17  65.7      12      34      17  29   75   81  Matches
4   9  12  42  27.9      31      44       2  15   47    4  Matches

In [30]:
# Check available columns
print(df.columns)

# Verify if "Country" column exists and check its data
if "Country" in df.columns:
    print(df["Country"].head())
    print(df["Country"].dtype)
    
    # Convert to string if necessary and apply transformation
    df["Country"] = df["Country"].astype(str).apply(lambda x: x.split()[-1].upper())
else:
    print("Column 'Country' does not exist.")

Index(['Player Name', 'Club Name', 'Country', 'Challenges', 'Blocks', '',
       'Player', 'Country', 'Pos', 'Age', '90s', 'Tkl', 'TklW', 'Def 3rd',
       'Mid 3rd', 'Att 3rd', 'Att', 'Tkl%', 'Lost', 'Sh'],
      dtype='object')
  Country Country
0  ch SUI      18
1  es ESP      36
2  de GER      12
3  bf BFA      25
4  de GER       8

AttributeError: 'DataFrame' object has no attribute 'dtype'